.bs-spinner {
  display: inline-block;
  flex-shrink: 0;
  border-radius: 50%;
  border: 2.5px solid currentColor;
  border-block-start-color: transparent;
  animation: bs-spin 0.8s linear infinite;
}

@keyframes bs-spin {
  to {
    transform: rotate(360deg);
  }
}
